<table class="table">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Feedback</th>
        <th scope="col">Sentiment</th>
        <th scope="col">Created at</th>
    </tr>
    {% for feedback in list_feedbacks %}
    <tr>
        <th scope="row"><a href="{{ url_for('feedbacks.get_rated_feedback', feedback_id=feedback.feedback_id) }}">{{ feedback.feedback_id }}(s)</a></td>
        <td>{{ feedback.feedback_raw }}</td>
        <td>{{ feedback.feedback_sentiment }}</td>
        <td>{{ feedback.feedback_created_at.strftime('%d/%m/%Y - %H:%m') }}</td>
    </tr>
    {% endfor %}
</table> 
